extends layout.pug

block title
  title Browse


block content
  div(class="row justify-content-center")
    h1(class="col display-3") Browse Books
  div(class="row my-5 divider")
  div(class="row text-center justify-content-center")
    each book in books
      a(class="col-9 my-3 mx-3 btn text-light bg-dark btn-lg" href="search/"+book.id_book)=book.title
