extends layout.pug

block title
  title Error :(

block content
  div(class="row justify-content-center")
    img(src="/images/not_found.png" style="height:30%; width:30%")
  if error_message != undefined
    h1(class="display-4")=error_message
  else
    h1 This page does not exist!
  br
  if refreshBrowse != undefined
    div(class="row")
      a(href="browse" class="btn btn-outline-light btn-block btn-lg") Refresh Browse
  br
  div(class="row justify-content-center")
    a(href="/" class="btn btn-outline-light btn-block btn-lg") Go back to safety
