extends layout.pug

block title
  title Favourites

block content
  div(class="row justify-content-center")
    h1(class="col-12 display-4") Your favourites, #{username}
  br
  br
  div(class="row align-items-center")
    if favourites != undefined
      each favourite in favourites
        div(class="col-8")
          a(href="/search/"+favourite.id_book class="list-group-item list-group-item-action text-light" style="background-color: #343A40")=favourite.title
        div(class="col-4")
          button(type="submit" class="btn" style="background-color:#40343a; color:white; border: none") Remove from Favourites
