extends layout.pug

block title
  title Favourites

block content
  div(class="row")
    h1(class="col-10 display-4") Your favourites, #{username}
  br
  br
  div(class="row text-center ")
    div(class="col-6 list-group")
      each favourite in favourites
        a(href="/search/"+favourite.id_book class="list-group-item list-group-item-action bg-primary text-light")=favourite.title
