extends layout.pug

block title
  title Favourites

block content
  div(class="row justify-content-center")
    h1(class="display-3") Favourites

  div(class="row my-5 divider")

  div(class="row align-items-center")
    if favourites[0] != undefined
      each favourite in favourites
        div(class="col-9")
          a(href="/search/"+favourite.id_book class="text-light btn btn-block grayBackground")=favourite.title
        div(class="col-3")
          form(action="/removeFavourite/"+favourite.id_book+"/favourites" method="post")
            button(type="submit" class="btn btn-block text-light btn-danger") Remove

    else
      h1 Nothing here! Start browsing to find books to add as your favourites!

      a(href="browse" class="btn btn-outline-secondary btn-lg btn-block my-4 text-light") Browse
