extends layout.pug

block title
  title Recover Password!


block content

  h1(class="display-3") Recover Password
  div(class="row my-5" style="border-bottom: 1px solid #343A40")
  div(class="row justify-content-center")
    div(class="col-8")
      form(action="/forgotPassword" method="post" class="form-signin")
        div(class="form-group")
          input(type="text", class="form-control text-light bg-dark", id="inputUsername", placeholder="Username", name="username", required)
          br
          input(type="email", class="form-control text-light bg-dark", id="inputEmail", placeholder="Email", name="email", required)
          br
          input(type="text", class="form-control text-light bg-dark", id="answer_passwort_reset", placeholder="Answer to Secret Question (Your favourite Animal)", name="answer_passwort_reset", required)
        br
        div(class="form-group")
          input(type="password", class="form-control text-light bg-dark", id="inputPassword", placeholder="New Password", name="password", required)
          br
          input(type="password", class="form-control text-light bg-dark", id="inputPassword_repeat", placeholder="Repeat New Password", name="password_check", minlength="8", maxlength = "20" , required)
        div(class="form-group")
          br
          button(type="submit", class="btn btn-block btn-primary") Recover Password
      if error_forgot_password != undefined  
        div(class="alert alert-warning") #{error_forgot_password}
