extends layout.pug

block title
  title Recover Password!


block content

  h1(class="display-3") Recover Password
  div(class="row my-5" style="border-bottom: 1px solid #343A40")
  div(class="row justify-content-center")
    div(class="col-8")
      form(action="/recoverPassword" method="post" class="form-signin")
        div(class="form-group")
          input(type="text", class="form-control text-light bg-dark", id="inputUsername", placeholder="Username", name="username")
        div(class="form-group")
          input(type="email", class="form-control text-light bg-dark", id="inputEmail", placeholder="Email", name="email")
        div(class="form-group")
          input(type="text", class="form-control text-light bg-dark", id="answer_passwort_reset", placeholder="Answer to Secret Question (Your favourite Animal)", name="answer_passwort_reset")
        div(class="form-group")
          br
          button(type="submit", class="btn btn-primary") Recover Password
