extends layout.pug

block title
  title Bookstore!

block content
  h1(class="d-inline") Let's start coding books... 
  a(href="/login" class="btn btn-info float-right d-inline" role="button") Login
  a(href="/signup" class="btn btn-primary float-right d-inline padding-left" role="button") Sign-Up
