extends layout.pug

block title
  title Bookstore!


block content
  div(class="row justify-content-center")
    if loggedIn
      h1(class="col-10 display-3 align-self-center") Welcome #{user} !
    else
      h1(class="col-10 display-3 align-self-center") Welcome!
  div(class="row my-5" style="border-bottom: 1px solid #343A40")

  
  if loggedOut
    div(class="row justify-content-center my-3")
      div(class="col-6 alert alert-warning alert-dismissible fade show" role="alert")
        strong You've successfully logged out!
        p We hope to see you back soon!
        button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          span(aria-hidden="true") &times;
  
  if !loggedIn
    a(class="display-4 btn btn-lg btn-outline-secondary btn-block" href="/login" style="color:white") Please Login to use this Website!
  
  else
    div(class="row justify-content-center")
      h1(class="display-4") Search our Catalog
      div(class="col-8")
        form(class="form my-2" action="/search" method="post")
          input(class="form-control my-3" type="search" name="searchTerm" placeholder="Search" aria-label="Search" required)
          button(class="btn btn-outline-secondary btn-block my-2 my-sm-0" type="submit") Search
        form(class="form my-2" action="/searchRandom" method="post")
          button(class="btn btn-outline-secondary btn-block my-2 my-sm-0" type="submit") I'm feeling lucky
    div(class="row my-5" style="border-bottom: 1px solid #343A40")
