extends layout.pug

block title
  title Login

block content
  div(class="row text-center h-100")
  
    div(class="col-2")
    div(class="col-8 align-self-center justify-content-center")

      if loggedIn
        h1(class="text-muted display-3") Log In
        div(class="row my-5" style="border-bottom: 1px solid #343A40")
        h1(class="display-4") You are already logged in
        h1(class="display-2") #{username}
        br
        form(action="/logout" method="get")
          button(type="submit", class="btn btn-outline-light btn-lg") Logout
      else
        h1(class="display-3") Log In
        div(class="row my-5" style="border-bottom: 1px solid #343A40")
        form(action="/login" method="post" class="form-signin")
          div(class="form-group")
            input(type="text", class="form-control", id="inputUsername", placeholder="Username", name="username")
            br
            input(type="password", class="form-control", id="inputPassword" placeholder="Password", name="password")
            br
            button(type="submit", class="btn btn-block btn-primary") Login
          div(class="form-group")
            a(href="/forgotPassword" type="submit", class="btn btn-info btn-block") Forgot Password?
          if error_login != undefined  
            div(class="alert alert-warning") #{error_login}
    div(class="col-2")

      
