extends layout.pug

block title
  title Sign Up

block content
  div(class="row text-center h-100")
    br
    br
    div(class="col-2")
    
    div(class="col-8 align-self-center justify-content-center")
      if loggedIn
        h1(class="text-muted") Sign Up
        
        div(class="row my-5" style="border-bottom: 1px solid #343A40")
        
        h1(class="display-4") You are already logged in
        h1(class="display-2") #{username}
        br
        button(type="submit", class="btn btn-outline-light btn-lg") Logout
      else
        h1(class="display-3") Sign Up

        div(class="row my-5" style="border-bottom: 1px solid #343A40")

        form(action="/signup" method="post" class="form-signin")
          div(class="form-group")
            input(type="text", class="form-control text-light bg-dark", id="inputUsername", placeholder="Username", name="username", minlength="4" required)
          div(class="form-group")
            input(type="email", class="form-control text-light bg-dark", id="inputEmail", placeholder="Email", name="email" required)
          br
          div(class="form-group")
            input(type="password", class="form-control text-light bg-dark", id="inputPassword" placeholder="Password", name="password", minlength="8" required)
          div(class="form-group")
            input(type="password", class="form-control text-light bg-dark", id="inputPassword_check" placeholder="Repeat Password", name="password_check",  minlength="8" required)
          br
          div(class="form-group")
            input(type="password", class="form-control text-light bg-dark", id="security_question" placeholder="Security Question: Your favourite animal?", name="security_question", minlength = "3" required)
          br
          div(class="form-group")
            button(type="submit", class="btn btn-primary btn-block") Create new Account
        br
        if error_signup != null  
          div(class="alert alert-warning") #{error_signup}

    div(class="col-2")
    


      
